.col-md-2.left-sidebar
  .panel.panel-info
    .panel-heading
      %h5.text-center Top 3 voted posts
    .panel-body
      %ul.list-unstyled
        %li.content
          This isn't a particularly beautiful solution. Please use the other solutions, which are based on LESS. Or customize bootstrap via the variable editor on their website.
          %footer
            %ul.list-inline
              %li
                4
                %span.glyphicon.glyphicon-comment
                  %span
              %li
                4
                %span.glyphicon.glyphicon-star
                  %span
        %li.content
          This isn't a particularly beautiful solution. Please use the other solutions, which are based on LESS. Or customize bootstrap via the variable editor on their website.
          %footer
            %ul.list-inline
              %li
                4
                %span.glyphicon.glyphicon-comment
                  %span
              %li
                4
                %span.glyphicon.glyphicon-star
                  %span
        %li.content
          This isn't a particularly beautiful solution. Please use the other solutions, which are based on LESS. Or customize bootstrap via the variable editor on their website.
          %footer
            %ul.list-inline
              %li
                4
                %span.glyphicon.glyphicon-comment
                  %span
              %li
                4
                %span.glyphicon.glyphicon-star
                  %span
